Repository odnlabs/opendevnet, changes with the owners that .github/CODEOWNERS names for each.
All owners: @slekup, @odn-admin, @odnlabs/api, @odnlabs/web, @odnlabs/tooling

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

* @slekup @odn-admin

/apps/api/** @odnlabs/api
/apps/internal/** @odnlabs/web
/apps/site/** @odnlabs/web
/apps/web/** @odnlabs/web

/libs/api-client/** @odnlabs/api @odnlabs/web
/libs/eslint-config-odn/** @odnlabs/tooling
/libs/tailwind-config/** @odnlabs/web
/libs/ui/** @odnlabs/web
/libs/utils-server/** @odnlabs/web
/libs/utils-client/** @odnlabs/web

/tools/** @odnlabs/tooling
/tools/rest/** @odnlabs/api @odnlabs/web

fix: rename utils lib to utils-server
  libs/utils-server/.eslintrc.js
  libs/utils-server/package.json
  libs/utils-server/src/config.ts
  libs/utils-server/src/index.ts
  libs/utils-server/src/mdxApi.ts
  libs/utils-server/tsconfig.json
  libs/utils-server/tsup.config.ts
Owners: @odnlabs/web

fix: docker update script
  pnpm-lock.yaml
  tools/scripts/docker.sh
Owners: @slekup, @odn-admin, @odnlabs/tooling

chore(deps): update dependencies
  apps/internal/package.json
  apps/site/package.json
  apps/web/package.json
  libs/api-client/package.json
  libs/eslint-config-odn/package.json
  libs/ui/package.json
  libs/utils-client/package.json
  libs/utils-server/package.json
  package.json
  pnpm-lock.yaml
Owners: @odnlabs/web, @odnlabs/api, @odnlabs/tooling, @slekup, @odn-admin

chore(deps): remove unnecessary dependencies from root
  nx.json
  package.json
  pnpm-lock.yaml
Owners: @slekup, @odn-admin

docs: update readme
  README.md
Owners: @slekup, @odn-admin

docs: update license badge
  README.md
Owners: @slekup, @odn-admin

fix(deps): fix dependency conflicts with eslint plugins
  libs/eslint-config-odn/package.json
  package.json
  pnpm-lock.yaml
Owners: @odnlabs/tooling, @slekup, @odn-admin

build: add clean script
  run.sh
  tools/scripts/clean.sh
Owners: @slekup, @odn-admin, @odnlabs/tooling

fix: add tslib dev deps
  apps/internal/package.json
  apps/internal/src/app/layout.tsx
  apps/site/package.json
  apps/web/package.json
  package.json
  pnpm-lock.yaml
Owners: @odnlabs/web, @slekup, @odn-admin

fix: mdx dependency issue
  apps/internal/package.json
  apps/site/package.json
  apps/web/package.json
  libs/utils-server/src/mdxApi.ts
  libs/utils-server/tsconfig.json
  package.json
  pnpm-lock.yaml
Owners: @odnlabs/web, @slekup, @odn-admin

docs(internal): typescript comments and documentation convention
  apps/internal/mdx/02-contributing/03-style-guide/01-typescript.mdx
Owners: @odnlabs/web

build: update clean script
  tools/scripts/clean.sh
Owners: @odnlabs/tooling

refactor: use next-mdx-remote rsc
  apps/internal/src/components/global/DocumentContent.tsx
  apps/site/src/components/global/DocumentContent.tsx
  apps/web/package.json
  libs/utils-client/src/types.ts
  libs/utils-server/src/mdxApi.ts
  pnpm-lock.yaml
  run.sh
Owners: @odnlabs/web, @slekup, @odn-admin

fix(deps): sync remark-gfm version
  apps/web/package.json
  pnpm-lock.yaml
Owners: @odnlabs/web, @slekup, @odn-admin

build: copy mdx files for internal dockerfile
  docker/production/Dockerfile.internal
Owners: @slekup, @odn-admin
