Repository odnlabs/opendevnet, changes with the owners that .github/CODEOWNERS names for each.
All owners: @slekup, @odn-admin, @odnlabs/api, @odnlabs/web, @odnlabs/tooling, @odnlabs/docs

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

* @slekup @odn-admin

# Apps
/api/** @odnlabs/api
/apps/internal-docs/** @odnlabs/web
/apps/website/** @odnlabs/web
/apps/web-client/** @odnlabs/web

# Libraries
/libs/api-client/** @odnlabs/api @odnlabs/web
/libs/tailwind-config/** @odnlabs/web
/libs/ui/** @odnlabs/web
/libs/utils-server/** @odnlabs/web
/libs/utils-client/** @odnlabs/web

# Tools
/tools/** @odnlabs/tooling
/tools/rest/** @odnlabs/api @odnlabs/web

# Documentation
/docs/** @odnlabs/docs

build(api): complete docker image
  docker/production/Dockerfile.api
Owners: @slekup, @odn-admin

build: add all environment variables to setup
  tools/scripts/setup.sh
Owners: @odnlabs/tooling

build: add api service to compose files
  docker-compose.ci.yaml
  docker-compose.production.yaml
Owners: @slekup, @odn-admin

ci: add api to ci workflow
  .github/workflows/ci.yaml
  .github/workflows/deploy.yaml
  docker-compose.ci.yaml
  docker-compose.production.yaml
Owners: @slekup, @odn-admin

fix: reference to old function
  run.sh
Owners: @slekup, @odn-admin

build: add package install section to setup script
  tools/scripts/setup.sh
Owners: @odnlabs/tooling

build(docker): fix internal docs and website images
  apps/internal-docs/src/components/layout/Header.tsx
  docker/production/Dockerfile.internal_docs
  docker/production/Dockerfile.website
  docs/internal/05-other-apps/01-internal-docs.mdx
  run.sh
Owners: @odnlabs/web, @slekup, @odn-admin, @odnlabs/docs

ci: run migration before api
  .github/workflows/ci.yaml
  tools/scripts/setup.sh
Owners: @slekup, @odn-admin, @odnlabs/tooling

fix: api dockerfile
  docker/production/Dockerfile.api
Owners: @slekup, @odn-admin

perf: only install package when setting up api
  .github/workflows/ci.yaml
  run.sh
  tools/scripts/setup.sh
Owners: @slekup, @odn-admin, @odnlabs/tooling

fix: database url var set in setup script
  docker-compose.production.yaml
  tools/scripts/setup.sh
Owners: @slekup, @odn-admin, @odnlabs/tooling

ci: fix api script
  .github/workflows/ci.yaml
Owners: @slekup, @odn-admin

build: update migration script to create database
  api/migrations/20231029104027_init.down.sql
  api/migrations/20231029104027_init.up.sql
Owners: @odnlabs/api

fix(api): database migration scripts
  api/migrations/20231029104027_init.down.sql
  api/migrations/20231029104027_init.up.sql
Owners: @odnlabs/api

build: install postgres during setup script
  tools/scripts/setup.sh
Owners: @odnlabs/tooling

build: create database during setup script
  test.sh
  tools/scripts/setup.sh
Owners: @slekup, @odn-admin, @odnlabs/tooling

fix: correct env file to be production instead of local for setup script
  tools/scripts/setup.sh
Owners: @odnlabs/tooling

build: refer to postgres instead of localhost
  tools/scripts/setup.sh
Owners: @odnlabs/tooling

build: refer to postgres instead of 127.0.0.1
  tools/scripts/setup.sh
Owners: @odnlabs/tooling

build: update ci setup script
  .github/workflows/ci.yaml
  tools/scripts/setup.sh
Owners: @slekup, @odn-admin, @odnlabs/tooling

build: update ci setup script
  .github/workflows/ci.yaml
  docker-compose.ci.yaml
  tools/scripts/setup.sh
Owners: @slekup, @odn-admin, @odnlabs/tooling

chore(api): generate query metadata
  .sqlx/query-547c6570813c6b406ff6ec4127925c297fa48e08a0e79242a0bd7d459d2cd9d2.json
  .sqlx/query-843923b9a0257cf80f1dff554e7dc8fdfc05f489328e8376513124dfb42996e3.json
  .sqlx/query-f3f58600e971f1be6cbe206bba24f77769f54c6230e28f5b3dc719b869d9cb3f.json
Owners: @slekup, @odn-admin

ci: run api in offline mode
  .eslintignore
  .gitignore
  .sqlx/query-547c6570813c6b406ff6ec4127925c297fa48e08a0e79242a0bd7d459d2cd9d2.json
  .sqlx/query-843923b9a0257cf80f1dff554e7dc8fdfc05f489328e8376513124dfb42996e3.json
  .sqlx/query-f3f58600e971f1be6cbe206bba24f77769f54c6230e28f5b3dc719b869d9cb3f.json
  docker-compose.ci.yaml
  docker-compose.production.yaml
  tools/scripts/data/.env.example.local
  tools/scripts/data/.env.example.production
  tools/scripts/setup.sh
Owners: @slekup, @odn-admin, @odnlabs/tooling

chore: update env example
  .env.example
Owners: @slekup, @odn-admin

build(api): update dockerfile to work with workspace
  .github/workflows/ci.yaml
  docker/production/Dockerfile.api
Owners: @slekup, @odn-admin

fix: .env in root
  tools/scripts/setup.sh
Owners: @odnlabs/tooling

fix: api dockerfile copying
  docker/production/Dockerfile.api
Owners: @slekup, @odn-admin

build(api): copy .sqlx in docker image
  docker/production/Dockerfile.api
Owners: @slekup, @odn-admin

ci: add api to deploy workflow
  .github/workflows/ci.yaml
  .github/workflows/deploy.yaml
Owners: @slekup, @odn-admin

feat: modularize authentication into a seperate service library
  .vscode/settings.json
  Cargo.lock
  api/Cargo.toml
  api/src/models/mod.rs
  api/src/routes/auth/login.rs
  api/src/routes/auth/register.rs
  services/auth_service/Cargo.toml
  services/auth_service/src/lib.rs
  services/auth_service/src/models.rs
Owners: @slekup, @odn-admin, @odnlabs/api

feat: modularize user into a seperate service library
  .vscode/settings.json
  Cargo.lock
  api/Cargo.toml
  api/src/lib.rs
  api/src/models/mod.rs
  api/src/routes/auth/login.rs
  api/src/routes/auth/refresh.rs
  api/src/routes/auth/register.rs
  api/src/utils/jwt_auth.rs
  api/src/utils/user.rs
  docker/production/Dockerfile.api
  services/user_service/Cargo.toml
  services/user_service/src/lib.rs
  services/user_service/src/models.rs
Owners: @slekup, @odn-admin, @odnlabs/api
