Repository odnlabs/opendevnet, changes with the owners that .github/CODEOWNERS names for each.
All owners: @slekup, @odn-admin, @odnlabs/api, @odnlabs/web, @odnlabs/docs, @odnlabs/tooling

docs(website): readme link to documentation
  apps/website/README.md
Owners: @odnlabs/web

docs(web-client): readme link to documentation
  apps/web-client/README.md
Owners: @odnlabs/web

docs(internal-docs): readme link to documentation
  apps/internal-docs/README.md
Owners: @odnlabs/web

docs(api): readme link to documentation
  api/README.md
Owners: @odnlabs/api

docs(api-client): readme link to documentation
  libs/api-client/README.md
Owners: @odnlabs/api, @odnlabs/web

docs(tailwind-config): readme link to documentation
  libs/tailwind-config/README.md
Owners: @odnlabs/web

docs(ui): readme lik to documentation
  libs/ui/README.md
Owners: @odnlabs/web

docs(utils-server): readme link to documentation
  libs/utils-server/README.md
Owners: @odnlabs/web

docs(utils-client): readme link to documentation
  libs/utils-client/README.md
Owners: @odnlabs/web

docs(internal): tailwind config lib overview
  apps/internal-docs/mdx/06-libraries/04-tailwind-config/01-tailwind-config.mdx
Owners: @odnlabs/docs

docs(internal): refactor lib doc structure
  .github/labeler.yaml
  apps/internal-docs/mdx/.eslintrc.yaml
  apps/internal-docs/mdx/06-libraries/01-api-client/01-overview.mdx
  apps/internal-docs/mdx/06-libraries/02-tailwind-config/01-overview.mdx
  apps/internal-docs/mdx/06-libraries/02-tailwind-config/index.mdx
  apps/internal-docs/mdx/06-libraries/03-ui/01-overview.mdx
  apps/internal-docs/mdx/06-libraries/03-ui/02-components.mdx
  apps/internal-docs/mdx/06-libraries/03-ui/index.mdx
  apps/internal-docs/mdx/06-libraries/05-utils-client/01-overview.mdx
  apps/internal-docs/mdx/06-libraries/05-utils-client/index.mdx
  apps/internal-docs/mdx/06-libraries/05-utils-server/01-overview.mdx
  apps/internal-docs/mdx/06-libraries/05-utils-server/index.mdx
  libs/api-client/README.md
  libs/tailwind-config/README.md
  libs/utils-client/README.md
  libs/utils-server/README.md
Owners: @slekup, @odn-admin, @odnlabs/docs, @odnlabs/api, @odnlabs/web

build: add package check
  tools/scripts/check.sh
Owners: @odnlabs/tooling

build: seperate setup script from run.sh script
  run.sh
  tools/scripts/setup.sh
Owners: @slekup, @odn-admin, @odnlabs/tooling

.github/CODEOWNERS:

# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

* @slekup @odn-admin

# Apps
/api/** @odnlabs/api
/apps/internal-docs/** @odnlabs/web
/apps/internal-docs/mdx/** @odnlabs/docs
/apps/website/** @odnlabs/web
/apps/website/mdx/** @odnlabs/docs
/apps/web-client/** @odnlabs/web
/apps/web-client/mdx/** @odnlabs/docs

# Libraries
/libs/api-client/** @odnlabs/api @odnlabs/web
/libs/tailwind-config/** @odnlabs/web
/libs/ui/** @odnlabs/web
/libs/utils-server/** @odnlabs/web
/libs/utils-client/** @odnlabs/web

# Tools
/tools/** @odnlabs/tooling
/tools/rest/** @odnlabs/api @odnlabs/web
