Repository odnlabs/opendevnet, changes with the labels that .github/labeler.yml gives for each.
All labels: apps:api, apps:internal, apps:site, apps:web, libs:api-client, libs:eslint-config-odn, libs:nx-rust, libs:tailwind-config, libs:tsconfig, libs:ui, libs:utils

ci: add nx-rust to issue labeler
  .github/issue-labeler.yml
Labels: none

ci: give permissions to pr labeler
  .github/workflows/pr-labeler.yml
Labels: none

chore(deps): update deps
  apps/site/package.json
  pnpm-lock.yaml
Labels: apps:site

ci: add checkout step to pr labeler
  .github/workflows/pr-labeler.yml
Labels: none

docs(internal): updating packages
  apps/internal/mdx/02-contributing/01-contributing.mdx
Labels: apps:internal

docs(internal): updating packages
  apps/internal/mdx/02-contributing/01-contributing.mdx
Labels: apps:internal

ci: remove unnecessary properties from deploy workflow
  .github/workflows/ci.yml
  pnpm-lock.yaml
Labels: none

ci: remove kodiak
  .github/.kodiak.toml
  apps/site/package.json
  pnpm-lock.yaml
Labels: apps:site

chore(deps): fix deps
  apps/site/package.json
Labels: apps:site

chore(deps): update deps
  pnpm-lock.yaml
Labels: none

.github/labeler.yml:

apps:api:
  - apps/api/*
  - apps/api/**/*
apps:internal:
  - apps/internal/*
  - apps/internal/**/*
apps:site:
  - apps/site/*
  - apps/site/**/*
apps:web:
  - apps/web/*
  - apps/web/**/*
libs:api-client:
  - libs/api-client/*
  - libs/api-client/**/*
libs:eslint-config-odn:
  - libs/eslint-config-odn/*
  - libs/eslint-config-odn/**/*
libs:nx-rust:
  - libs/nx-rust/*
  - libs/nx-rust/**/*
libs:tailwind-config:
  - libs/tailwind-config/*
  - libs/tailwind-config/**/*
libs:tsconfig:
  - libs/tsconfig/*
  - libs/tsconfig/**/*
libs:ui:
  - libs/ui/*
  - libs/ui/**/*
libs:utils:
  - libs/utils/*
  - libs/utils/**/*
