Repository odnlabs/opendevnet, changes with the labels that .github/labeler.yaml gives for each.
All labels: api, apps:internal-docs, apps:website, apps:web-client, ci, dependencies, documentation, libs:@odnlabs/api-client, libs:@odnlabs/tailwind-config, libs:@odnlabs/ui, libs:@odnlabs/utils-server, libs:@odnlabs/utils-client, tools

chore: delete test sh file
  test.sh
Labels: none

ci: sync dependabot config
  .github/dependabot.yaml
Labels: none

fix: use hyphenated directory names for services
  .vscode/settings.json
  api/Cargo.toml
  services/auth-service/Cargo.toml
  services/auth-service/src/lib.rs
  services/auth-service/src/models.rs
  services/user-service/Cargo.toml
  services/user-service/src/lib.rs
  services/user-service/src/models.rs
Labels: api

fix: ci syntax error
  .github/workflows/deploy.yaml
Labels: ci

ci: deploy if api build is successful
  .github/workflows/deploy.yaml
Labels: ci

chore(deps): update dependencies
  .eslintignore
  apps/internal-docs/package.json
  apps/web-client/package.json
  apps/website/package.json
  libs/api-client/package.json
  libs/ui/package.json
  libs/utils-client/package.json
  libs/utils-server/package.json
  package.json
  pnpm-lock.yaml
Labels: apps:internal-docs, apps:website, apps:web-client, dependencies, libs:@odnlabs/api-client, libs:@odnlabs/ui, libs:@odnlabs/utils-server, libs:@odnlabs/utils-client

fix(build): env symlink in setup script
  tools/scripts/setup.sh
Labels: tools

fix(deps): sync lockfile
  pnpm-lock.yaml
Labels: dependencies

ci: correct configuration path for labeler
  .github/workflows/pr-labeler.yaml
Labels: ci

ci: setup env at deploy
  .github/workflows/deploy.yaml
Labels: ci

build: copy docs dir in internal docs and website images
  docker/production/Dockerfile.internal_docs
  docker/production/Dockerfile.website
Labels: none

build: correct where docs dir is copied to
  docker/production/Dockerfile.internal_docs
  docker/production/Dockerfile.web_client
  docker/production/Dockerfile.website
Labels: none

build: correct where docs dir is copied to for website image
  docker/production/Dockerfile.website
Labels: none

chore: delete environment.d.ts file
  environment.d.ts
Labels: none

chore: delete references to environment.d.ts
  apps/web-client/tsconfig.json
  apps/website/tsconfig.json
  libs/api-client/tsconfig.json
  libs/utils-client/tsconfig.json
  libs/utils-server/tsconfig.json
Labels: apps:website, apps:web-client, libs:@odnlabs/api-client, libs:@odnlabs/utils-server, libs:@odnlabs/utils-client

chore: delete references to environment.d.ts
  apps/web-client/tsconfig.json
  apps/website/tsconfig.json
  libs/utils-client/tsconfig.json
  libs/utils-server/tsconfig.json
Labels: apps:website, apps:web-client, libs:@odnlabs/utils-server, libs:@odnlabs/utils-client

chore: format tsconfig files
  libs/utils-client/tsconfig.json
  libs/utils-server/tsconfig.json
Labels: libs:@odnlabs/utils-server, libs:@odnlabs/utils-client

chore: add tsconfig.json to eslint ignore
  .eslintignore
Labels: none

refactor(api): rename creates to use opendevnet prefix
  .github/dependabot.yaml
  .husky/commit-msg
  .husky/pre-commit
  .vscode/settings.json
  Cargo.lock
  Cargo.toml
  api/Cargo.toml
  api/src/routes/auth/login.rs
  api/src/routes/auth/refresh.rs
  api/src/routes/auth/register.rs
  api/src/routes/info/mod.rs
  api/src/utils/jwt_auth.rs
  api/src/utils/user.rs
  services/opendevnet-auth/Cargo.toml
  services/opendevnet-auth/src/lib.rs
  services/opendevnet-auth/src/models.rs
  services/opendevnet-user/Cargo.toml
  services/opendevnet-user/src/lib.rs
  services/opendevnet-user/src/models.rs
Labels: api, dependencies

chore(deps): eslint-config-slekup@1.0.17
  .eslintignore
  apps/internal-docs/package.json
  apps/web-client/package.json
  apps/website/package.json
  libs/api-client/package.json
  libs/ui/package.json
  libs/utils-client/package.json
  libs/utils-server/package.json
  package.json
  pnpm-lock.yaml
Labels: apps:internal-docs, apps:website, apps:web-client, dependencies, libs:@odnlabs/api-client, libs:@odnlabs/ui, libs:@odnlabs/utils-server, libs:@odnlabs/utils-client

ci: cutom action for pnpm install with cache
  .github/workflows/ci.yaml
  tools/actions/pnpm-cache/action.yaml
Labels: ci, tools

chore(deps): update dependencies
  apps/internal-docs/package.json
  apps/web-client/package.json
  apps/website/package.json
  libs/api-client/package.json
  libs/ui/package.json
  libs/utils-client/package.json
  libs/utils-server/package.json
  package.json
  pnpm-lock.yaml
Labels: apps:internal-docs, apps:website, apps:web-client, dependencies, libs:@odnlabs/api-client, libs:@odnlabs/ui, libs:@odnlabs/utils-server, libs:@odnlabs/utils-client

ci: add rust tests to ci
  .github/workflows/ci.yaml
Labels: ci

chore(config): add rustfmt config
  .rustfmt.toml
Labels: none

chore: remove jest dependecies and references
  apps/internal-docs/project.json
  apps/web-client/project.json
  apps/website/project.json
  nx.json
  package.json
  pnpm-lock.yaml
Labels: apps:internal-docs, apps:website, apps:web-client, dependencies

build: add a project.json to each library
  libs/api-client/project.json
  libs/tailwind-config/project.json
  libs/ui/project.json
  libs/utils-client/project.json
  libs/utils-server/project.json
Labels: libs:@odnlabs/api-client, libs:@odnlabs/tailwind-config, libs:@odnlabs/ui, libs:@odnlabs/utils-server, libs:@odnlabs/utils-client

style: format rust imports
  api/src/main.rs
  api/src/routes/auth/login.rs
  api/src/routes/auth/refresh.rs
  api/src/routes/auth/register.rs
  api/src/routes/mod.rs
  api/src/utils/jwt_auth.rs
  api/src/utils/mod.rs
  api/src/utils/user.rs
  api/src/utils/ws.rs
Labels: api

chore: use rustfmt nightly in precommit hook
  .husky/pre-commit
Labels: none

chore(website): remove odn-admin from team
  apps/website/src/app/(site)/about/team/page.tsx
Labels: apps:website

build: set up vitest and update eslint configs
  .eslintignore
  apps/internal-docs/.eslintrc.yaml
  apps/internal-docs/package.json
  apps/web-client/.eslintrc.yaml
  apps/web-client/package.json
  apps/website/.eslintrc.yaml
  apps/website/package.json
  libs/api-client/.eslintrc.yaml
  libs/api-client/package.json
  libs/tailwind-config/.eslintrc.yaml
  libs/ui/.eslintrc.yaml
  libs/ui/package.json
  libs/utils-client/.eslintrc.yaml
  libs/utils-client/package.json
  libs/utils-server/.eslintrc.yaml
  libs/utils-server/package.json
  libs/utils-server/src/mdxApi.test.ts
  libs/utils-server/src/mdxApi.ts
  libs/utils-server/tsconfig.json
  libs/utils-server/tsup.config.ts
  libs/utils-server/vitest.config.ts
  nx.json
  package.json
  pnpm-lock.yaml
  tsconfig.json
  vitest.shared.ts
Labels: apps:internal-docs, apps:website, apps:web-client, dependencies, libs:@odnlabs/api-client, libs:@odnlabs/tailwind-config, libs:@odnlabs/ui, libs:@odnlabs/utils-server, libs:@odnlabs/utils-client

style(config): consistent eslintrc and tsconfig files
  .eslintignore
  apps/internal-docs/package.json
  apps/web-client/package.json
  apps/website/package.json
  libs/api-client/.eslintrc.yaml
  libs/api-client/package.json
  libs/api-client/tsconfig.json
  libs/tailwind-config/.eslintrc.yaml
  libs/tailwind-config/tsconfig.json
  libs/ui/.eslintrc.yaml
  libs/ui/package.json
  libs/ui/tsconfig.json
  libs/utils-client/.eslintrc.yaml
  libs/utils-client/package.json
  libs/utils-client/tsconfig.json
  libs/utils-server/package.json
  libs/utils-server/tsconfig.json
  package.json
  pnpm-lock.yaml
Labels: apps:internal-docs, apps:website, apps:web-client, dependencies, libs:@odnlabs/api-client, libs:@odnlabs/tailwind-config, libs:@odnlabs/ui, libs:@odnlabs/utils-server, libs:@odnlabs/utils-client

chore(config): update eslint config file in dockerignore
  .dockerignore
  apps/internal-docs/.eslintrc.yaml
  apps/internal-docs/tsconfig.json
  apps/web-client/.eslintrc.yaml
  apps/web-client/src/app/(dashboard)/SidebarWrapper.tsx
  apps/web-client/src/app/friends/SidebarWrapper.tsx
  apps/web-client/src/app/layout.tsx
  apps/web-client/src/app/networks/(explore)/SidebarWrapper.tsx
  apps/web-client/tsconfig.json
  apps/website/.eslintrc.yaml
  apps/website/tsconfig.json
Labels: apps:internal-docs, apps:website, apps:web-client

style(config): consistent app eslintrc and tsconfig files
  apps/internal-docs/.eslintrc.yaml
  apps/internal-docs/package.json
  apps/internal-docs/tsconfig.json
  apps/web-client/.eslintrc.yaml
  apps/web-client/package.json
  apps/web-client/tsconfig.json
  apps/website/.eslintrc.yaml
  apps/website/package.json
  apps/website/tsconfig.json
  libs/api-client/package.json
  libs/ui/package.json
  libs/utils-client/package.json
  libs/utils-server/package.json
  nx.json
  package.json
  pnpm-lock.yaml
Labels: apps:internal-docs, apps:website, apps:web-client, dependencies, libs:@odnlabs/api-client, libs:@odnlabs/ui, libs:@odnlabs/utils-server, libs:@odnlabs/utils-client

chore: set up e2e testing on apps with playwright
  .github/workflows/ci.yaml
  .vscode/extensions.json
  .vscode/settings.json
  apps/internal-docs/.eslintrc.yaml
  apps/internal-docs/playwright.config.ts
  apps/internal-docs/project.json
  apps/web-client/.eslintrc.yaml
  apps/web-client/playwright.config.ts
  apps/web-client/project.json
  apps/website/.eslintrc.yaml
  apps/website/e2e/homepage.test.ts
  apps/website/playwright.config.ts
  apps/website/project.json
  apps/website/tsconfig.json
  libs/api-client/.eslintrc.yaml
  libs/tailwind-config/.eslintrc.yaml
  libs/ui/.eslintrc.yaml
  libs/utils-client/.eslintrc.yaml
  libs/utils-server/.eslintrc.yaml
  nx.json
  package.json
  pnpm-lock.yaml
Labels: apps:internal-docs, apps:website, apps:web-client, ci, dependencies, libs:@odnlabs/api-client, libs:@odnlabs/tailwind-config, libs:@odnlabs/ui, libs:@odnlabs/utils-server, libs:@odnlabs/utils-client

fix(config): eslint configurations
  apps/internal-docs/.eslintrc.yaml
  apps/web-client/.eslintrc.yaml
  apps/website/.eslintrc.yaml
  libs/api-client/.eslintrc.yaml
  libs/api-client/tsup.config.ts
  libs/tailwind-config/.eslintrc.yaml
  libs/ui/.eslintrc.yaml
  libs/utils-client/.eslintrc.yaml
  libs/utils-client/tsup.config.ts
  libs/utils-server/.eslintrc.yaml
Labels: apps:internal-docs, apps:website, apps:web-client, libs:@odnlabs/api-client, libs:@odnlabs/tailwind-config, libs:@odnlabs/ui, libs:@odnlabs/utils-server, libs:@odnlabs/utils-client

ci: add unit and e2e test to ci
  .github/workflows/ci.yaml
Labels: ci

refactor: rename services directory to crates
  .github/dependabot.yaml
  .github/workflows/ci.yaml
  .github/workflows/deploy.yaml
  .vscode/settings.json
  Cargo.toml
  api/Cargo.toml
  crates/opendevnet-auth/Cargo.toml
  crates/opendevnet-auth/src/lib.rs
  crates/opendevnet-auth/src/models.rs
  crates/opendevnet-user/Cargo.toml
  crates/opendevnet-user/src/lib.rs
  crates/opendevnet-user/src/models.rs
  docker/production/Dockerfile.api
Labels: api, ci, dependencies

build: use parallel in scripts
  package.json
Labels: dependencies

build: delete coverage in clean script
  tools/scripts/clean.sh
Labels: tools

fix(ci): dependabot configuration
  .github/dependabot.yaml
Labels: none

.github/labeler.yaml:

# yaml-language-server: $schema=https://json.schemastore.org/pull-request-labeler.json
api:
  - api/*
  - api/**/*
apps:internal-docs:
  - apps/internal-docs/*
  - apps/internal-docs/**/*
apps:website:
  - apps/website/*
  - apps/website/**/*
apps:web-client:
  - apps/web-client/*
  - apps/web-client/**/*
ci:
  - .github/workflows/*
  - .github/workflows/**/*
dependencies:
  - package.json
  - pnpm-lock.yaml
  - apps/**/package.json
  - libs/**/package.json
  - Cargo.toml
  - Cargo.lock
  - apps/**/Cargo.toml
  - libs/**/Cargo.toml
  - apps/**/Cargo.lock
  - libs/**/Cargo.lock
documentation:
  - docs/*
  - docs/**/*
libs:@odnlabs/api-client:
  - libs/api-client/*
  - libs/api-client/**/*
libs:@odnlabs/tailwind-config:
  - libs/tailwind-config/*
  - libs/tailwind-config/**/*
libs:@odnlabs/ui:
  - libs/ui/*
  - libs/ui/**/*
libs:@odnlabs/utils-server:
  - libs/utils-server/*
  - libs/utils-server/**/*
libs:@odnlabs/utils-client:
  - libs/utils-client/*
  - libs/utils-client/**/*
tools:
  - tools/*
  - tools/**/*
