Repository odnlabs/opendevnet, changes with the labels that .github/labeler.yaml gives for each.
All labels: api, apps:internal-docs, apps:website, apps:web-client, ci, dependencies, documentation, libs:@odnlabs/api-client, libs:@odnlabs/tailwind-config, libs:@odnlabs/ui, libs:@odnlabs/utils-server, libs:@odnlabs/utils-client, tools

.github/labeler.yaml:

# yaml-language-server: $schema=https://json.schemastore.org/pull-request-labeler.json
api:
  - api/*
  - api/**/*
apps:internal-docs:
  - apps/internal-docs/*
  - apps/internal-docs/**/*
apps:website:
  - apps/website/*
  - apps/website/**/*
apps:web-client:
  - apps/web-client/*
  - apps/web-client/**/*
ci:
  - .github/workflows/*
  - .github/workflows/**/*
dependencies:
  - package.json
  - pnpm-lock.yaml
  - apps/**/package.json
  - libs/**/package.json
  - Cargo.toml
  - Cargo.lock
  - apps/**/Cargo.toml
  - libs/**/Cargo.toml
  - apps/**/Cargo.lock
  - libs/**/Cargo.lock
documentation:
  - docs/*
  - docs/**/*
libs:@odnlabs/api-client:
  - libs/api-client/*
  - libs/api-client/**/*
libs:@odnlabs/tailwind-config:
  - libs/tailwind-config/*
  - libs/tailwind-config/**/*
libs:@odnlabs/ui:
  - libs/ui/*
  - libs/ui/**/*
libs:@odnlabs/utils-server:
  - libs/utils-server/*
  - libs/utils-server/**/*
libs:@odnlabs/utils-client:
  - libs/utils-client/*
  - libs/utils-client/**/*
tools:
  - tools/*
  - tools/**/*

build: seperate prod and dev test env
  .github/workflows/ci.yaml
  package.json
Labels: ci, dependencies

chore(config): remove scope enum from commitlint
  .commitlintrc.yaml
Labels: none

ci: build before tests
  .github/workflows/ci.yaml
Labels: ci

ci: install browsers before e2e
  .github/workflows/ci.yaml
Labels: ci

ci: use local env for tests
  .github/workflows/ci.yaml
Labels: ci

chore(config): remove unnecessary rust-analyzer projects
  .vscode/settings.json
Labels: none

fix(nx): disable e2e caching
  nx.json
Labels: none

fix: playwright configurations
  apps/internal-docs/playwright.config.ts
  apps/web-client/playwright.config.ts
  apps/website/playwright.config.ts
Labels: apps:internal-docs, apps:website, apps:web-client

refactor(playwright): define ternary operators at top of config
  apps/internal-docs/playwright.config.ts
  apps/web-client/playwright.config.ts
  apps/website/playwright.config.ts
Labels: apps:internal-docs, apps:website, apps:web-client

fix(playwright): increase web server timeout
  apps/internal-docs/playwright.config.ts
  apps/web-client/playwright.config.ts
  apps/website/playwright.config.ts
Labels: apps:internal-docs, apps:website, apps:web-client

fix(playwright): internal docs base url
  apps/internal-docs/playwright.config.ts
Labels: apps:internal-docs

chore: remove unused prod scripts
  package.json
Labels: dependencies

build: ci environment
  .github/workflows/ci.yaml
  .github/workflows/deploy.yaml
  run.sh
  tools/scripts/data/.env.example.ci
  tools/scripts/setup.sh
Labels: ci, tools

fix(playright): set timeout to 60s
  apps/internal-docs/playwright.config.ts
  apps/web-client/playwright.config.ts
  apps/website/playwright.config.ts
Labels: apps:internal-docs, apps:website, apps:web-client

fix: ci in check script
  tools/scripts/check.sh
Labels: tools

chore(playwright): set timeout to 30s
  apps/internal-docs/playwright.config.ts
  apps/web-client/playwright.config.ts
  apps/website/playwright.config.ts
Labels: apps:internal-docs, apps:website, apps:web-client

chore(playwright): set action timeout to 10s
  apps/internal-docs/playwright.config.ts
  apps/web-client/playwright.config.ts
  apps/website/playwright.config.ts
Labels: apps:internal-docs, apps:website, apps:web-client

fix(docker): ci environment
  docker-compose.ci.yaml
  docker/ci/Dockerfile.api
  docker/ci/Dockerfile.internal_docs
  docker/ci/Dockerfile.web_client
  docker/ci/Dockerfile.website
Labels: none

ci: seperate container for e2e
  .github/workflows/ci.yaml
Labels: ci

chore(deps): eslint-config-slekup@1.0.23
  package.json
  pnpm-lock.yaml
Labels: dependencies

fix(ci): comment out swap
  tools/actions/pnpm-cache/action.yaml
Labels: tools

fix: ci env example
  tools/scripts/data/.env.example.ci
Labels: tools

chore(build): rename env data folder to templates
  tools/scripts/setup.sh
  tools/scripts/templates/.env.example.ci
  tools/scripts/templates/.env.example.local
  tools/scripts/templates/.env.example.production
Labels: tools

revert: commenting out swap in pnpm action
  tools/actions/pnpm-cache/action.yaml
Labels: tools

ci: e2e without container
  .github/workflows/ci.yaml
Labels: ci

chore(deps): eslint-config-slekup@1.0.23
  apps/internal-docs/package.json
  apps/web-client/package.json
  apps/website/package.json
  libs/api-client/package.json
  libs/ui/package.json
  libs/utils-client/package.json
  libs/utils-server/package.json
  pnpm-lock.yaml
Labels: apps:internal-docs, apps:website, apps:web-client, dependencies, libs:@odnlabs/api-client, libs:@odnlabs/ui, libs:@odnlabs/utils-server, libs:@odnlabs/utils-client

ci: remove unnecessary build for e2e
  .github/workflows/ci.yaml
Labels: ci

ci: upload e2e website report
  .github/workflows/ci.yaml
Labels: ci

ci: update playwright install browser command
  .github/workflows/ci.yaml
Labels: ci

ci: prod to ci
  .github/workflows/ci.yaml
  package.json
Labels: ci, dependencies

ci: fix playwright report names
  .github/workflows/ci.yaml
Labels: ci

ci: sort browser order
  .github/workflows/ci.yaml
Labels: ci

fix(playwright): add chrome channel to mobile safari
  apps/website/playwright.config.ts
Labels: apps:website

revert: chrome channel to mobile safari
  apps/website/playwright.config.ts
Labels: apps:website

fix(playwright): disable mobile safari in ci
  apps/internal-docs/playwright.config.ts
  apps/web-client/playwright.config.ts
  apps/website/playwright.config.ts
Labels: apps:internal-docs, apps:website, apps:web-client

ci: rename filter job
  .github/workflows/ci.yaml
  .github/workflows/deploy.yaml
Labels: ci

fix: e2e playwright testing in ci (#220)
  .github/workflows/ci.yaml
  .github/workflows/deploy.yaml
  apps/internal-docs/package.json
  apps/internal-docs/playwright.config.ts
  apps/web-client/package.json
  apps/web-client/playwright.config.ts
  apps/website/package.json
  apps/website/playwright.config.ts
  docker-compose.ci.yaml
  docker/ci/Dockerfile.api
  docker/ci/Dockerfile.internal_docs
  docker/ci/Dockerfile.web_client
  docker/ci/Dockerfile.website
  libs/api-client/package.json
  libs/ui/package.json
  libs/utils-client/package.json
  libs/utils-server/package.json
  nx.json
  package.json
  pnpm-lock.yaml
  run.sh
  tools/actions/pnpm-cache/action.yaml
  tools/scripts/check.sh
  tools/scripts/setup.sh
  tools/scripts/templates/.env.example.ci
  tools/scripts/templates/.env.example.local
  tools/scripts/templates/.env.example.production
Labels: apps:internal-docs, apps:website, apps:web-client, ci, dependencies, libs:@odnlabs/api-client, libs:@odnlabs/ui, libs:@odnlabs/utils-server, libs:@odnlabs/utils-client, tools
